<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="src/assets/style.css" />
    <title>Frontend Mentor | Interactive rating component</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container">
        <div class="rating-container">
          <div v-if="step==1" class="first-step">
            <div class="rating-state">
              <div class="star">
                <img src="/images/icon-star.svg" alt="star" />
              </div>
              <h3>How did we do?</h3>
              <p>
                Please let us know how we did with your support request. All
                feedback is appreciated to help us improve our offering!
              </p>
              <div class="vote">
                <div
                  v-for="(rate,index) in rates"
                  class="rate"
                  :key="index"
                  :class="[index === activeItem ? 'active' : '']"
                  @click="selectRate(index)"
                >
                  {{rate}}
                </div>
              </div>
              <div class="rating-submit">
                <button @click="changeStep">Submit</button>
              </div>
            </div>
          </div>
          <div v-if="step==2" class="second-step">
            <div class="rating-approve">
              <div class="thank-you">
                <img
                  src="/images/illustration-thank-you.svg"
                  alt="illustration-thank-you"
                />
              </div>
              <div class="your-vote">
                <span
                  >You selected {{activeItem+1}} out of {{rates.length}}</span
                >
              </div>
              <h3>Thank you!</h3>
              <p>
                We appreciate you taking the time to give a rating. If you ever
                need more support, don’t hesitate to get in touch!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          rates: [1, 2, 3, 4, 5],
          activeItem: -1,
          step: 1,
        },
        methods: {
          selectRate(index) {
            this.activeItem = index;
          },
          changeStep() {
            this.activeItem !== -1 ? (this.step = 2) : (this.step = 1);
          },
        },
      });
    </script>
  </body>
</html>
