/* css reset */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}



:root {
  --orange: #ffa500;
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --mdgrey: hsl(216, 12%, 54%);
  --darkblue: hsl(213, 19%, 18%);
  --verydarkblue: hsl(216, 12%, 8%);
  --font : 'Overpass', sans-serif;
}

[v-cloak] {
  display: none;
}

body {
  font-size: 15px;
  font-family: var(--font);
  background-color: var(--verydarkblue);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-container {
  background-color: hsl(215deg 23% 15%);
  border-radius: 30px;
  padding: 30px;
  max-width: 360px;
}

.rating-state h3 {
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.rating-state .star {
  width: 40px;
  height: 40px;
  background: var(--darkblue);
  display: grid;
  place-content: center;
  border-radius: 100%;
  margin-bottom: 25px;
}

.rating-state p {
  color: var(--lightgrey);
  font-size: .875rem;
  line-height: 1.5;
}

.vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 25px;}

.vote .rate {
  width: 40px;
  height: 40px;
  background-color: var(--darkblue);
  color: var(--lightgrey);
  display: grid;
  place-content: center;
  border-radius: 100%;
  cursor: pointer;
}

.rate.active {
  background-color: var(--orange);
  color: var(--white);
}

.rating-submit button {
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .875rem;
  cursor: pointer;
  transition: all .3s ease;
}

.vote .rate:hover {
  background: var(--mdgrey);
  color: var(--white);
}

.rating-submit button:hover {
  background-color: var(--white);
  color: var(--orange);
}

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.your-vote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-vote span {
  text-align: center;
  background: var(--darkblue);
  color: var(--orange);
  padding: 7px 25px;
  border-radius: 25px;
  font-size: .875rem;
}

.rating-approve h3 {
  color: var(--white);
  font-size: 1.5rem;
  margin-block: 25px;text-align: center;
}

.rating-approve p {
  text-align: center;
  color: var(--lightgrey);
}

@media screen and (max-width: 376px) {
  .container{
    padding: 30px;
  }
}
